<style>

  .snippet_collection_banner {
    width: 100%;
    height: 30vw;
    max-height: 350px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
  }

  .snippet_collection_banner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,0.639093137254902) 0%, rgba(0,0,0,0.5046393557422969) 27%, rgba(255,255,255,0) 100%);
  }

  .snippet_collection_banner .title {
    font-family: "barlow-bold" !important;
    font-size: 32px;
    color: white;
  }
  .snippet_collection_banner .subtitle {

    color: white;
  }

  .snippet_collection_banner .title::before {
    content: '';
    display: block;
    height: 10px;
    width: 60px;

    transform: skew(-20deg);
    margin: 0 auto 10px;
  }

  .snippet_collection_banner.stay-xwarm .title::before {
    background-color: #FF001F;
  }
  .snippet_collection_banner.stay-warm .title::before {
    background-color: #EC8314;
  }
  .snippet_collection_banner.light-warm .title::before {
    background-color: #1ABC3E;
  }
  .snippet_collection_banner.stay-fresh .title::before {
    background-color: #1D89FF;
  }



  .snippet_collection_banner .banner-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .snippet_collection_banner .home__specs__cta {
    display: inline-block;
    color: white;
    border-color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 60%;
    max-width: 400px;
  }
</style>
<div class="snippet_collection_banner {{ banner_class }}" style="background-image:url('{{banner_image_url  | img_url: 'master'}}');">
  <div class="banner-caption">
    <div class="title">{{ banner_title }}</div>
    <div class="subtitle">{{ banner_subtitle }}</div>
    <a href="{{button_href}}" class="home__specs__cta text-link">{{ button_title }}</a>
  </div>
</div>