<div class="slider-favourites">

  <div class="slider-favourites__head">
    <h5>{{ section.settings.title }}</h5>
    <a href="{{ section.settings.link_view_all }}">view all</a>
  </div>

  <div class="slider-favourites__content">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="favourite-card">
              <img src="{{ block.settings.product.featured_media | img_url: 'master' }}" alt="{{ block.settings.title | strip_html }}">
              <div class="favourite-card__content">
                <div class="favourite-card__content__left">
                  <h6>Stay Fresh</h6>
                  </h5>{{ block.settings.product.title }}</h5>
                </div>
                <div class="favourite-card__content__right">
                  <span class="favourite-card-price">{{ block.settings.product.price | money }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
  <div class="line-scrollbar"></div>
</div>

{% schema %}
  {
    "name": "Slider Favourites",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "link_view_all",
        "label": "Link view all"
      }
    ],
    "blocks": [
      {
        "type": "cards",
        "name": "Cards",
        "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Product"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Slider Favourites",
            "blocks": [
              {
              "type": "cards"
              }
          ]
        }
    ]
  }
{% endschema %}


{% style %}

.slider-favourites {
    background-color: #fff;
    padding-bottom: 200px;
}
.slider-favourites__head {
    max-width: 1420px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
}
.slider-favourites__head h5 {
  font-family: "barlow-semibold-italic" !important;
  font-size: 48px;
  letter-spacing: normal;
  margin-bottom: 0;
  line-height: 1;
}
.slider-favourites__head a {
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  letter-spacing: 1px;
  align-items: flex-end;
  min-width: 100px;
}
.slider-favourites__content .swiper-scrollbar {
  margin-top: 60px;
  background: transparent;
}
.slider-favourites__content .swiper-scrollbar .swiper-scrollbar-drag {
    height: 3px;
}
.line-scrollbar {
    width: 100%;
    height: 1px;
    background: #757382;
    margin-top: -2px;
}
{% endstyle %}

{% javascript %}

(function() {

    let selectors = {
      favouritesContainer: '.slider-favourites__content',
      swiperFavourites: '.slider-favourites__content .swiper-container',
      favouritesTitle: '.slider-favourites__head h5',
    };
    
    let favouritesContainer = document.querySelector(selectors.favouritesContainer);
    let swiperFavourites = document.querySelector(selectors.swiperFavourites);
    let favouritesTitle = document.querySelector(selectors.favouritesTitle);

    function positionFavouritesContainer() {
      let favouritesTitle__left = favouritesTitle.offsetLeft - 20
      favouritesContainer.style.marginLeft = favouritesTitle__left + "px";
    }

    window.addEventListener('resize', function() {
      positionFavouritesContainer()
    })

    window.addEventListener('load', function() {

      positionFavouritesContainer()

      const sliderFavourites = new Swiper(swiperFavourites, {
          slidesPerView: 3.7,
          spaceBetween: 30,
          breakpoints: {
              310: {
                slidesPerView: 1.1,
                spaceBetween: 10,
              },
              1024: {
                slidesPerView: 3.7,
                spaceBetween: 30,
              }
          },
          scrollbar: {
            el: ".slider-favourites__content .swiper-scrollbar",
            hide: false,
          },
      }) 
    })


  
})();

{% endjavascript %}