<div class="slider-horizontal">

    <div class="slider-horizontal__years">
        {% assign years_list = section.settings.years_list | split: "|" %}
        {% for year in years_list %}
            <span class="big-year">{{ year }}</span>
        {% endfor %}
    </div>

    <div class="slider-horizontal__slides">
        {% for slide in section.blocks %}
            <div class="horizontal-card {% cycle 'card-odd', 'card-even' %}" style="left:{{ slide.settings.horizontal_position }}%;">
                <div class="horizontal-card__content">
                    <h5>{{ slide.settings.title }}</h5>
                    <h6>{{ slide.settings.sub_title }}</h6>
                    <span>{{ slide.settings.date }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{% schema %}
  {
    "name": "Slider Horizontal",
    "max_blocks": 99,
    "settings": [
        {
            "type": "text",
            "id": "years_list",
            "label": "Year List",
            "default": "2018|2019|2020|2021|2022|2023"
        }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "sub_title",
                "label": "Sub Title"
            },
            {
                "type": "text",
                "id": "date",
                "label": "Date"
            },
            {
                "type": "text",
                "id": "horizontal_position",
                "label": "Horizontal Position",
                "info": "From 0 to 100 like %"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Slider Horizontal",
            "blocks": [
                {
                "type": "slide"
                }
            ]
        }
    ]
  }
{% endschema %}


{% style %}
.big-year {
    color: white;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 200px;
    font-family: "barlow-thin-italic" !important;
}
{% endstyle %}



{% javascript %}

(function(document) {

    let selectors = {
        containerSlideImages: '.slider-box-text__images .swiper-container',
    };
  
    // let containerSlideImages = document.querySelector(selectors.containerSlideImages)

    // window.addEventListener('load', function() {

    //     let swiper_images = new Swiper(containerSlideImages, {
    //         touchRatio: 0.1,
    //         fadeEffect: {
    //             crossFade: true
    //         },
    //         navigation: {
    //             nextEl: containerSlideImagesNext,
    //             prevEl: containerSlideImagesPrev
    //         },
    //     });

    // })

    


})(document);
  

{% endjavascript %}