{{ 'modulo-hero-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'modulo-hero-banner.js' | asset_url }}" defer="defer"></script>

{%- assign img_url = section.settings.image | img_url: 'master' -%}
{%- assign img_url_mob = section.settings.image_mob | img_url: 'master' -%}

{% if section.settings.transparent_header %}
    {% assign top_margin = "-105px" %}
    <script>
        var headerWrapper = document.querySelector(".header-wrapper");
        headerWrapper.classList.add("is-light");
    </script>
{% else %}
    {% assign top_margin = "0px" %}
{% endif %}

{% style %}
    .section-hero-banner {
        overflow: hidden;
    }
    @media screen and (max-width: 543) {
      .section-hero-banner h1 {
        font-size: 55px;
      }
    }
{% endstyle %}

<div class="section-hero-banner {% if section.settings.content_bottom %}content-bottom{% endif %} hero--{{ section.settings.section_height }} hero--{{ section.id }} hero--mobile--{{ section.settings.mobile_height }}" style="margin-top: {{top_margin}}"> 
  {% comment %} <video width="100%" autoplay muted loop>
    <source src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/Hero_Silver_Compressed_ca6f19d4-686d-48b3-9070-bd9219756589.mp4?v=1623418559" type="video/mp4">
    Your browser does not support the video tag.
  </video> {% endcomment %}
  {% if section.settings.overlay_dark %}
    <div class="overlay-dark"></div>
  {% endif %}
  <img class="hero-banner__image"src="{{ img_url }}" alt="silverskin technology" width="100%">
  <img class="hero-banner__image hero-banner__image--mob"src="{{ img_url_mob }}" alt="silverskin technology" width="100%">
  <div class="hero-banner__content">
    {% if section.settings.herotitle != blank %}
        <h1>{{ section.settings.herotitle }}</h1>
    {% endif %}
    {% if section.settings.herosubtitle != blank %}
        <h4>{{ section.settings.herosubtitle }}</h4>
    {% endif %}
    {% if section.settings.heroparagraph != blank %}
        <p class="hero-banner__content__paragraph">{{ section.settings.heroparagraph }}</p>
    {% endif %}
    <div class="hero-banner-cta">
        {% if section.settings.cta1link != blank %}
            <a class="banner-cta__link" href="{{ section.settings.cta1link }}">{{ section.settings.cta1text }}</a>
        {% endif %}
        {% if section.settings.cta2text != blank %}
            <a class="banner-cta__link" href="{{ section.settings.cta2link }}">{{ section.settings.cta2text }}</a>
        {% endif %}
        {% if section.settings.cta_video != blank %}
            <a class="banner-cta__link banner-cta__link--video" href="{{ section.settings.link_video }}">{{ section.settings.cta_video }}</a>
        {% endif %}
    </div>
  </div>

    <div class="hero-scroll-down" {% if section.settings.id_scroll_down != blank %}data-scroll="{{ section.settings.id_scroll_down }}"{% endif %}>
        {% if section.settings.scroll_down_text != blank %}
            <span class="hero-scroll-down__text">{{ section.settings.scroll_down_text }}</span>
        {% endif %}
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left " viewbox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>
    </div>
</div>

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
        {
      "type": "select",
      "id": "section_height",
      "label": "Desktop height",
      "default": "natural",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "450px",
          "value": "450px"
        },
        {
          "label": "550px",
          "value": "550px"
        },
        {
          "label": "650px",
          "value": "650px"
        },
        {
          "label": "750px",
          "value": "750px"
        },
        {
          "label": "Full screen",
          "value": "100vh"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "Mobile height",
      "default": "auto",
      "info": "Not used if desktop height is set to natural",
      "options": [
        {
          "label": "Auto",
          "value": "auto"
        },
        {
          "label": "250px",
          "value": "250px"
        },
        {
          "label": "300px",
          "value": "300px"
        },
        {
          "label": "400px",
          "value": "400px"
        },
        {
          "label": "500px",
          "value": "500px"
        },
        {
          "label": "Full screen",
          "value": "100vh"
        }
      ]
    },
        {
            "type": "checkbox",
            "id": "transparent_header",
            "label": "Transparent Header"
        },
        {
            "type": "checkbox",
            "id": "overlay_dark",
            "label": "Overlay Dark",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "content_bottom",
            "label": "Content Bottom"
        },
        {
            "type": "text",
            "id": "herotitle",
            "label": "Hero Title"
        },
        {
            "type": "text",
            "id": "herosubtitle",
            "label": "Hero SubTitle"
        },
        {
            "type": "html",
            "id": "heroparagraph",
            "label": "Hero Paragraph"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image Mob"
        },
        {
            "type": "text",
            "id": "cta1text",
            "label": "CTA 1 Text",
            "default": "ACQUISTA UOMO"
        },
        {
            "type": "text",
            "id": "cta1link",
            "label": "CTA 1 Link",
            "default": "/collections/uomo"
        },
        {
            "type": "text",
            "id": "cta2text",
            "label": "CTA 2 Text",
            "default": "ACQUISTA DONNA"
        },
        {
            "type": "text",
            "id": "cta2link",
            "label": "CTA 2 Link",
            "default": "/collections/donna"
        },
        {
            "type": "text",
            "id": "cta_video",
            "label": "CTA Video",
            "default": "GUARDA IL VIDEO"
        },
        {
            "type": "text",
            "id": "link_video",
            "label": "Link Video"
        },
        {
            "type": "text",
            "id": "scroll_down_text",
            "label": "Scroll Down Text"
        },
        {
            "type": "text",
            "id": "id_scroll_down",
            "label": "ID scroll down",
            "info": "ex: shopify-8243o6 (if empty scroll bottom over the hero)"
        }
    ],
    "presets": [
        {
            "name": "Hero Banner"
        }
    ]
  }
{% endschema %}
