<script>
  var headerWrapper = document.querySelector(".header-wrapper");
  headerWrapper.classList.add("is-light");
</script>

<div class="athletes-page">

  <div class="athletes-page__head">
    <div class="boxed">
      <div class="athletes-page__head__left">
        <h5>{{ section.settings.sup_title }}</h5>
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="athletes-page__head__right">
        <div class="athletes-page__head__right__text">{{ section.settings.right_text }}</div>
        <a href="#athlete-list-anchor" class="scroll-down" attr-scroll>Scroll to discover</a>
        <span id="athlete-list-anchor" ></span>
      </div>
    </div>
  </div>
  
  <div id="athlete-list" class="athletes-page__list">
    <div class="athletes-page__list__filters">

      {%- liquid

        assign tag_trail_count = 0
        assign tag_bike_count = 0
        assign tag_snowsport_count = 0
        assign tag_running_count = 0
        assign tag_mountaineering_count = 0
        assign tag_other_count = 0

        for block in section.blocks

          if block.settings.tag_trail
            assign tag_trail_count = tag_trail_count | plus: 1 
          endif
          if block.settings.tag_bike
            assign tag_bike_count = tag_bike_count | plus: 1 
          endif
          if block.settings.tag_snowsport
            assign tag_snowsport_count = tag_snowsport_count | plus: 1 
          endif
          if block.settings.tag_running
            assign tag_running_count = tag_running_count | plus: 1 
          endif
          if block.settings.tag_mountaineering
            assign tag_mountaineering_count = tag_mountaineering_count | plus: 1 
          endif
          if block.settings.tag_other
            assign tag_other_count = tag_other_count | plus: 1 
          endif

        endfor

      -%}

      <span class="js-athlete-filter selected" data-filter="all">All
        <sup attr-filter-count>({{ section.blocks.size }})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="trail">Trail
        <sup attr-filter-count>({{tag_trail_count}})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="bike">Bike
        <sup attr-filter-count>({{tag_bike_count}})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="snowsport">Snowsport
        <sup attr-filter-count>({{tag_snowsport_count}})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="running">Running
        <sup attr-filter-count>({{tag_running_count}})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="mountaineering">Mountaineering
        <sup attr-filter-count>({{tag_mountaineering_count}})</sup>
      </span>
      
      <span class="js-athlete-filter" data-filter="other">Other
        <sup attr-filter-count>({{tag_other_count}})</sup>
      </span>

    </div>
    <div class="athletes-page__list__cards">

      {% for block in section.blocks %}

        {%-liquid 
            assign list_tags = ""
          
            if block.settings.tag_trail
              assign list_tags = list_tags | append: "trail|"
            endif
            if block.settings.tag_bike
              assign list_tags = list_tags | append: "bike|"
            endif
            if block.settings.tag_snowsport
              assign list_tags = list_tags | append: "snowsport|"
            endif
            if block.settings.tag_running
              assign list_tags = list_tags | append: "running|"
            endif
            if block.settings.tag_mountaineering
              assign list_tags = list_tags | append: "mountaineering|"
            endif
            if block.settings.tag_other
              assign list_tags = list_tags | append: "other|"
            endif
          -%}

        <div class="athlete-card js-athlete-card" data-tags="{{list_tags}}">
          <div class="athlete-card__media">
            {% if block.settings.video %}
              {% assign video = section.settings.video | video_tag: image_size: 'master', autoplay: true,  loop: true, muted: true, controls: false %}
              {{ video }}
            {% else %}
              <img src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.name | strip_html }}">
            {% endif %}
          </div>
          <div class="athlete-card__content">
            <div class="athlete-card__content__top">
              <span class="athlete-card__content__top__sup">NAME</span>
              <br/>
              <h6><span class="athlete-first-name">{{ block.settings.first_name }}</span> <span class="athlete-last-name">{{ block.settings.last_name }}</span></h6>
            </div>
            <div class="athlete-card__content__bottom">
              <a href="{{ block.settings.link }}">MORE</a>
              <div class="athlete-card__content__bottom__tag-list">
                
                {% if block.settings.tag_trail %}
                  <span>Trail</span>
                {% endif %}
                {% if block.settings.tag_bike %}
                  <span>Bike</span>
                {% endif %}
                {% if block.settings.tag_snowsport %}
                  <span>Snowsport</span>
                {% endif %}
                {% if block.settings.tag_running %}
                  <span>Running</span>
                {% endif %}
                {% if block.settings.tag_mountaineering %}
                  <span>Mountaineering</span>
                {% endif %}
                {% if block.settings.tag_other %}
                  <span>Other</span>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="athletes-page__projects">

      <div class="athletes-page__projects__head">
        <h5>{{ section.settings.sup_title_project }}</h5>
        <h2>{{ section.settings.title_project }}</h2>
      </div>

      <div class="athletes-page__projects__content">

        <div class="athletes-articles">

          <div class="athletes-articles__single">
            <img src="{{ section.settings.article_1.image | img_url: 'master' }}" alt="{{ section.settings.article_1.title | strip_html }}">
            <div class="athletes-articles__single__content">
              <div class="athletes-articles__single__content__left">

                {%-liquid
                  assign artilce_1_blog_handle = section.settings.article_1.handle | split: "/" | first
                  assign artilce_1_blog_name = blogs[artilce_1_blog_handle].title
                -%}

                <h6>{{ artilce_1_blog_name }}</h6>
                <h5>{{ section.settings.article_1.title }}</h5>
              </div>
              <div class="athletes-articles__single__content__right">
                <a href="{{ section.settings.article_1.url }}">READ THE STORY</a>
              </div>
            </div>
          </div>

          <div class="athletes-articles__single">
            <img src="{{ section.settings.article_2.image | img_url: 'master' }}" alt="{{ section.settings.article_2.title | strip_html }}">
            <div class="athletes-articles__single__content">
              <div class="athletes-articles__single__content__left">

                {%-liquid
                  assign artilce_2_blog_handle = section.settings.article_2.handle | split: "/" | first
                  assign artilce_2_blog_name = blogs[artilce_2_blog_handle].title
                -%}

                <h6>{{ artilce_2_blog_name }}</h6>
                <h5>{{ section.settings.article_2.title }}</h5>
              </div>
              <div class="athletes-articles__single__content__right">
                <a href="{{ section.settings.article_2.url }}">READ THE STORY</a>
              </div>
            </div>
          </div>

        </div>

        <div class="btn-view-all">
          <a href="/blogs/news">VIEW ALL</a>
        </div>

      </div>

  </div>

</div>

{% schema %}
  {
    "name": "Athletes Page",
    "settings": [
      {
        "type": "text",
        "id": "sup_title",
        "label": "Sup Title"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "right_text",
        "label": "Right text"
      },
      {
        "type": "text",
        "id": "sup_title_project",
        "label": "Sup Title Project"
      },
      {
        "type": "text",
        "id": "title_project",
        "label": "Title Project"
      },
      {
        "type": "article",
        "id": "article_1",
        "label": "Article 1"
      },
      {
        "type": "article",
        "id": "article_2",
        "label": "Article 2"
      }
    ],
    "blocks": [
      {
        "type": "card_athlete",
        "name": "Card Athlete",
        "settings": [
          {
            "type": "text",
            "id": "first_name",
            "label": "First Name"
          },
          {
            "type": "text",
            "id": "last_name",
            "label": "Last Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "tag_trail",
            "label": "Trail"
          },
          {
            "type": "checkbox",
            "id": "tag_bike",
            "label": "Bike"
          },
          {
            "type": "checkbox",
            "id": "tag_snowsport",
            "label": "Snowsport"
          },
          {
            "type": "checkbox",
            "id": "tag_running",
            "label": "Running"
          },
          {
            "type": "checkbox",
            "id": "tag_mountaineering",
            "label": "Mountaineering"
          },
          {
            "type": "checkbox",
            "id": "tag_other",
            "label": "Other"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Athletes Page"
      }
    ]
  }
{% endschema %}


{% style %}

html {
  scroll-behavior: smooth;
}
  body.template-page.template-page--athletes {
    background: #000;
  }
  .athletes-page__head {
    color: #fff;
    padding: 200px 20px;
  }
  .athletes-page__head a {
    color: #fff;
    display: block;
  }
  .athletes-page__head .boxed {
    margin: 0 auto;
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
  }
  .athletes-page__head h1 {
    font-family: "barlow-bold-italic" !important;
    font-size: 120px;
    margin-bottom: 0;
  }
  .athletes-page__head h5 {
    font-family: "barlow" !important;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin-bottom: 50px;
  }
  .athletes-page__head__left {
    width: 70%;
  }
  .athletes-page__head__right {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
  }
  .athletes-page__head__right .scroll-down {
    color: #757382;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  #athlete-list {
    scroll-behavior: smooth;
    display: flex;
    justify-content: end;
    max-width: 1420px;
    margin: 0 auto 120px auto;
  }
  .athletes-page__list {
    color: #fff;
    position: relative;
  }
  .athletes-page__list__filters span {
    cursor: pointer;
  }
  .athletes-page__list__filters span.selected {
    color: #fff;
  }
  .athletes-page__list__filters {
    width: calc(100% / 3);
    top: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #757382;
    position: sticky;    
    top: 150px;    
    align-self: self-start;
  }
  .athletes-page__list__cards {
    width: calc(100% / 3 * 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
  }
  .athlete-card {
    width: calc(50% - 15px);
    position: relative;
    margin-bottom: 30px;
  }
  .athlete-card.hide {
    display: none;
  }
  .athlete-card__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 30px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .athlete-card__content a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
  }
  .athlete-card__content__top {
    text-transform: uppercase;
  }
  .athlete-card__content__top__sup {
    opacity: 0.4;
  }
  .athlete-last-name {
    /* font-family: 'barlow-semibold'; */
    opacity: 0.7;
  }
  .athlete-card__content__top h6 {
    font-size: 16px;
    letter-spacing: normal;
  }
  .athlete-card__content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .athlete-card__content__bottom__tag-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
  }
  .athlete-card__media, 
  .athlete-card__media img {
    display: block;
    height: 100%;
  }
  .athletes-page__projects {
    background: #fff;
    padding: 240px 20px 120px 20px;
  }
  .athletes-page__projects__head {
    text-align: center;
    margin-bottom: 120px;
}
.athletes-page__projects__head h2 {
    font-size: 120px;
}
.athletes-page__projects__content {
    max-width: 1420px;
    margin: 0 auto;
}
.athletes-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;
}
.athletes-articles__single {
  width: calc(50% - 10px);
}
.athletes-articles__single img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.athletes-articles__single__content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
}
.athletes-articles__single__content__left h6,
.athletes-articles__single__content__left h5 {
  letter-spacing: normal;
  font-size: 16px;
  margin-bottom: 0;
}
.athletes-articles__single__content__left h6 {
  opacity: 0.5;
  font-family: 'barlow-light'!important;
}
.athletes-articles__single__content__right {
    text-align: right;
}
.athletes-articles__single__content__right a {
  text-decoration: underline;
  font-family: 'barlow-semibold';
}
.btn-view-all {
  text-align: center;
  margin: 100px 0;
}
.btn-view-all a {
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .athletes-page__head h1 {
    font-size: 48px;
    text-align: center;
  }
  .athletes-page__head h5 {
    margin-bottom: 30px;
  }
  .athletes-page__head__left,
  .athletes-page__head__right {
    width: 100%;
  }
  .athletes-page__head__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .athletes-page__head__right__text {
    margin-top: 30px;
    font-size: 14px;
  }
  .athletes-page__head__right__text br {
    display: none;
  }
  .athletes-page__head {
    padding: 130px 20px 0 20px;
    height: 90vh;
  }
  .athletes-page__head .boxed {
    height: 100%;
  }
  .athletes-articles__single {
    width: 100%;
    margin-bottom: 30px;
  }
  .athletes-articles__single__content__left h6,
  .athletes-articles__single__content__left h5 {
    text-align: left;
  }


}

{% endstyle %}

{% javascript %}

(function() {

    let selectors = {
      athleteFilters: '.js-athlete-filter',
      athleteCards: '.js-athlete-card',

    };

    let athleteFilters = document.querySelectorAll(selectors.athleteFilters);
    let athleteCards = document.querySelectorAll(selectors.athleteCards);

    athleteFilters.forEach(athleteFilter => {
      
      athleteFilter.addEventListener("click", function(){
        if (!athleteFilter.classList.contains("selected")) {
          let athleteFilter__type = athleteFilter.getAttribute("data-filter")

          athleteFilters.forEach(athleteFilter_clean => {
            athleteFilter_clean.classList.remove("selected")
          })
          athleteFilter.classList.add("selected")

          console.log(athleteFilter__type)

          athleteCards.forEach(athleteCard => {
            if (athleteFilter__type == "all") {
              athleteCard.classList.remove("hide")
            } else {
              let athleteCard__tags = athleteCard.getAttribute("data-tags")
              if (athleteCard__tags.includes(athleteFilter__type)) {
                athleteCard.classList.remove("hide")
              } else {
                athleteCard.classList.add("hide")
              }
            }
          })

        }
      })
    });

  
})();
  

{% endjavascript %}

