<script src="{{ 'product-variant-color.js' | asset_url }}" defer="defer"></script>

<div
  class="product-variant-color-container"
  style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;"
>

   <div class="product-color-variants">
    {%- for block in section.blocks -%}

      {% assign block_label = block.settings.blockVariant %}
      {% assign block_color = block.settings.blockColor %}
      {% assign block_url = block.settings.blockProduct.url %}

      <script>
        console.log({{ product.tags | json }})
        console.log({{ block_label | json }})
      </script>

      <a href="{{ block_url }}" 
        class="variant-link {% if product.tags contains block_label %}active{% endif %}">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewbox="0 0 20.784609690826528 24">
          <path fill={{block_color}} d="M10.392304845413264 0L20.784609690826528 6L20.784609690826528 18L10.392304845413264 24L0 18L0 6Z"></path>
        </svg>
        <span>{{ block_label }}</span>
      </a>

    {%- endfor -%}
   </div>
  

</div>

{% schema %}
  {
    "name": "Product Variant Color",
    "tag": "section",
    "class": "product-variant-color-section",
    "enabled_on": {
      "templates": ["*"]
    },
    "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 5,
        "default": 0,
        "unit": "px",
        "label": "Top Margin"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "default": 0,
        "unit": "px",
        "label": "Bottom Margin"
      }
    ],
    "blocks": [
      {
        "type": "color_variant",
        "name": "Color Variant",
        "settings": [
          {
            "type": "text",
            "id": "blockVariant",
            "label": "Variant Label"
          },
          {
            "type": "text",
            "id": "blockColor",
            "label": "Variant Hex"
          },
          {
            "type": "product",
            "id": "blockProduct",
            "label": "Variant Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Variant Color",
        "blocks": [
          {
            "type": "color_variant"
          },
          {
            "type": "color_variant"
          },
          {
            "type": "color_variant"
          }
        ]
      }
    ]
  }
{% endschema %}